/* Estilo global do corpo da página */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

/* Estilo para o contêiner principal */
.container {
    display: flex;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    height: 600px;
}

/* Estilo para o contêiner de imagem */
.imagem-container {
    flex: 1;
    background-color: #DC44C3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
}

/* Estilo para a imagem */
.imagem-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Estilo para o contêiner do formulário */
.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    overflow: hidden;
}

/* Estilo para os títulos */
h1, h2 {
    text-align: center;
    margin: 10px 0;
}

h1 {
    color: #DC44C3;
}

h2 {
    color: #333;
}

/* Estilo para o formulário */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    width: 100%;
}

/* Estilo para os campos de entrada */
input {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

/* Estilo específico para campos de e-mail */
input[type="email"] {
    padding: 10px 20px;
    background-color: #EAEAEA;
    color: #333;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    width: 100%;
    width: 300px; /* Largura fixa */
    height: 50px; /* Altura fixa */
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 10px;
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo ao focar no campo de e-mail */
input[type="email"]:focus {
    background-color: #D4D4D4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão de envio */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #DC44C3;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px; /* Largura fixa menor */
    height: 40px; /* Altura fixa menor */
    text-align: center;
}

/* Estilo ao passar o mouse sobre o botão de envio */
button[type="submit"]:hover {
    transform: scale(1.05);
}

/* Estilo ao clicar no botão de envio */
button[type="submit"]:active {
    transform: scale(0.95);
}

/* Estilo para o contêiner do botão de voltar */
.btn-container {
    margin-top: 20px; /* Espaço acima do botão "Voltar" */
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
}

/* Estilo para o botão de voltar */
.btn-back {
    padding: 10px 20px;
    background-color: #DC44C3;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Estilo ao passar o mouse sobre o botão de voltar */
.btn-back:hover {
    transform: scale(1.05);
}

/* Estilo ao clicar no botão de voltar */
.btn-back:active {
    transform: scale(0.95);
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    .imagem-container {
        border-right: none;
        border-bottom: 1px solid #ccc;
    }
}
